<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
    <form method="post">
            {{ form.hidden_tag() }}
            <p> {{registration.password.label }} {{registration.password(size=40)}}</p>
            <p> {{registration.name.label }} {{registration.name(size=40)}}</p>
            <p> {{registration.age.label }} {{registration.age(size=40)}}</p>
            <input type="submit" value="Зареєструватися" />
    </form>
</body>
</html>